<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formulario</title>
</head>
<body>
    <%- include('fragments/header'); -%>


    <div class="container">
        <div class="row mt-5">
            <div class="col-md-7">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(data) { %>
                            <% for (var i = 0; i < data.length; i++) { %>
                                <tr>
                                    <td><%= data[i].nombre %></td>
                                    <td><%= data[i].direccion %></td>
                                    <td><%= data[i].telefono %></td>
                                    <td>
                                        <a href="/delete/<%= data[i].id %>" class="btn btn-danger">Eliminar</a>
                                    </td>
                                </tr>
                            <% } %>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/add" method="post">
                            <div class="form-group">
                                <input type="text" name="nombre" value="" placeholder="Por favor inserte su nombre" class="form-control">
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="text" name="direccion" value="" placeholder="Por favor inserte su direccion" class="form-control">
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="number" name="telefono" value="" placeholder=" Por favor inserte su nombre" class="form-control">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">
                                GUARDAR COMPRADOR
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    



    <h1>hola</h1>
</body>
</html>